/*ШРИФТЫ*/

@import "https://fonts.fontstorage.com/import/opensans.css";
@import "https://fonts.fontstorage.com/import/ibmplexserif.css";
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/ibm-plex-serif?from=sublime */
@import "https://fonts.fontstorage.com/import/ibmplexserif.css";
/*
    IBM Plex Serif, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/

/*ОБНУЛЕНИЕ*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*НАЧАЛО ВЕРСТКИ*/
:root {
    --lightColor: #EFE3DF;
    --textColor: #2B2024;
    --bgLink: #673D3F;
    --bgLinkHover: #B05459;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--lightColor);
    color: var(--textColor);
    font-size: 22px;
}
.main_title, .link {
    font-family: 'IBM Plex Serif', sans-serif;  
}
.main_title {
    font-size: 64px;
}
.link {
    font-size: 20px;
    background: var(--bgLink);
    color: var(--lightColor);
    padding: 16px 0;
    display: block;
    max-width: 300px;
    text-align: center;
}
