/*ШРИФТЫ*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

/*ОБНУЛЕНИЕ*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*НАЧАЛО ВЕРСТКИ*/
:root {
    --lightColor: #EFE3DF;
    --textColor: #2B2024;
    --bgLink: rgb(214, 179, 93);
    --bgLinkHover: rgb(214, 179, 93, 0.5);
}
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--lightColor);
    color: var(--textColor);
    font-size: 22px;
}
.container {
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
}
.main_item {
    flex-basis: 460px;
}
.main_title, .link, .title_h2, .circle_text, .form_select, .form_input {
    font-family: 'IBM Plex Serif', sans-serif;  
}
.main_title {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 38px;
}
.main_desc {
   line-height: 1.5;
   margin-top: 0;
   margin-bottom: 38px;
}
.link {
    font-size: 20px;
    background: var(--bgLink);
    color: var(--lightColor);
    padding: 16px 0;
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}
.link:hover {
    background: var(--bgLinkHover);
}
.main_image {
    display: flex;
    align-items: flex-end; 
    position: relative;
    margin-right: 40px;
}
.main_image::after {
    content: '';
    display: block;
    height: 400px;
    width: 550px;
    border-radius: 0 200px 0 200px;
    border: solid 2px white;
    background-size: cover;
    position: absolute;
    left: 38px;
    bottom: 35px;
} 
.main_img_1 {
    height: 400px;
    width: 550px;
    border-radius: 0 200px 0 200px;
}
.products {
    margin-top: 150px;
}
.title_h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 244px 1fr;
    grid-template-rows: 218px 218px;
    gap: 15px 16px;
}
.grid_cover:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}
.grid_cover:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid_cover:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.grid_cover:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
}
.grid_cover {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.grid_cover img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.cost {
    display: flex;
    justify-content: center;
    gap: 82px;
    margin-top: 157px;
    margin-bottom: 200px;
}
.circle_text {
    text-transform: uppercase;
    letter-spacing: 8px;
    word-spacing: 21px;
    animation: motion normal infinite 20s linear;
    -webkit-animation: motion normal infinite 20s linear;
    transform-origin: 50% 50%;
}
.circle:hover .circle_text {
    animation-play-state: paused;
}

@keyframes motion { 
    to { transform: rotate(360deg); } 
 }

@-webkit-keyframes motion { 
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(360deg); } 
}
.form_text {
    margin-bottom: 9px;
}
.form_select {
    margin-bottom: 24px;
    width: 340px;
    max-width: 340px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../Media/icon-dropdown.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 95% center;
}
.form_input {
    margin-bottom: 40px;
    width: 90px;
}
.form_input, .form_select {
    font-size: 20px;
    border: 1px solid var(--textColor);
    background-color: var(--lightColor);
    padding: 17px 26px;
    box-sizing: border-box;
}
.total_price {
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--bgLink);
}
.total_info {
    line-height: 1.4;
    margin-top: 0;
}
.total_email {
    color: var(--textColor);
    display: block;
}

@media (max-width: 1100px) {
    .main {
        display: block;
        text-align: center;
    }
    .main {
        margin-top: 180px;
    }
    .main_desc {
        max-width: 500px;
        margin: 0 auto 38px;
    }
    .link {
        margin: 0 auto;
    }
    .main_image {
        display: none;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
    }
    .grid_cover:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 3px;
    }
    .grid_cover:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-right: 3px;
    }
    .grid_cover:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: 3px;
    }
    .grid_cover:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 3px;
    }
    .grid_cover {
        max-width: 350px;
        margin: 0 auto;
    }
    .cost_title {
        display: none;
    }
    .cost_calc {
        text-align: center;
    }
}
@media (max-width: 700px) {
    .main {
        margin-top: 110px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 218px 218px 218px 218px;
    }
    .grid_cover:nth-child(1) {
        grid-column: 1;
        grid-row: 1/2;
        margin: auto;
    }
    .grid_cover:nth-child(2) {
        grid-column: 1;
        grid-row: 2/3;
        margin: auto;
    }
    .grid_cover:nth-child(3) {
        grid-column: 1;
        grid-row: 3/4;
        margin: auto;
    }
    .grid_cover:nth-child(4) {
        grid-column: 1;
        grid-row: 4/5;
        margin: auto;
    }
    .grid_cover {
        max-width: 300px;
    }
}